# Environment variables
.env

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# IDE folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

#Media folder
media/